{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid contactmain">
  <div class="contacttitle p-5">
    <h2 class="text-center pageheading">Contact Me</h2>
  </div>
  <div class="container inputdiv">
    <div class="contactfields row g-0 ">
      <div class="col-md-4 p-3 contacticons">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="https://www.facebook.com/jateen.panchal.161"><i class="fa-brands fa-facebook"></i></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="https://www.facebook.com/jateen.panchal.161" class="text-decoration-none text-dark"><h5 class="card-title">Facebook </h5></a>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="https://github.com/jateenpanchal"><i class="fa-brands fa-github"></i></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <a href="https://github.com/jateenpanchal" class="text-decoration-none text-dark"><h5 class="card-title">GitHub</h5></a>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="https://www.linkedin.com/in/jateen-panchal-526634261/"><i class="fa-brands fa-linkedin"></i></a>
              </div>
              <div class="col-md-8">
                <div class="card-body"> <a href="https://www.linkedin.com/in/jateen-panchal-526634261/" class="text-decoration-none text-dark"><h5 class="card-title">Linkedin</h5></a>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
               <a href="https://twitter.com/staywidstyle?t=8rHXOp3-T1jSJjt20BqXTw&s=09"><i class="fa-brands fa-twitter"></i></a> 
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <a href="https://twitter.com/staywidstyle?t=8rHXOp3-T1jSJjt20BqXTw&s=09" class="text-decoration-none text-dark"><h5 class="card-title">Twitter</h5></a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-8 order-first">
        <form action="" method="post">
          {% csrf_token %} {% comment %} {{data.as_p}} {% endcomment %}

          <label for="" class="fs-5 contactlabel"> First Name :</label>
          {{data.first_name}} <br />

          <label for="" class="fs-5 contactlabel">Last Name :</label>
          {{data.last_name}} <br />

          <label for="" class="fs-5 contactlabel">Email :</label>
          {{data.email}} <br />

          <label for="" class="fs-5 contactlabel">Subject :</label>
          {{data.subject}} <br />

          <label for="" class="fs-5 contactlabel">Message :</label>
          {{data.message}} <br />

          <input
            type="submit"
            value="Send Message"
            name="submit"
            class="btn btn-primary"
          />
          {{message}}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
