{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid g-0 resumemain ">
  <div class="container resumemain2">
    <div class="resumetitle">
      <div class="resumetext">
        <h2 class='pageheading text-center mb-sm-5'>Resume</h2>
      </div>
      <div class="downloadcv">
        <h3 class="mx-5 mb-sm-4">Cource</h3>
        <a target="_blank" class="mb-sm-4" href="{% static 'document/JateenPanchal.pdf' %}"> <button class="btn btn-primary">Download
            CV</button></a>
      </div>
    </div>

    <div class="resumeitems row g-0 mb-5 p-5 d-flex  justify-content-center align-items-center ">
      <div class="col-md-6 p-3">
        <p class="fs-3 fw-bold">Way To Web Pvt Ltd.</p>
        <p class="fs-5"><span class="fw-bold">Duration : </span> 6 Months</p>
      </div>
      <div class="col-md-6">
        <span class="fs-5"><span class="fw-bold">Cource Name : </span> Python-Djano
          devlopment</span>
        <br /><br />
        <span class="fs-5"><span class="fw-bold">Frontend technologies :</span> HTML, CSS,
          JavaScript, Bootstrap
        </span>
        <br /><br />
        <span class="fs-5"><span class="fw-bold">Backend technologies :</span> Python,
          Django</span>
      </div>
    </div>
    <h3 class="text-center mb-sm-5">Education :</h3>
    <div class="resumeitems row g-0 mb-5 p-5">
      <div class="col-md-6">
        <span class="fs-4 fw-bold"> Collage Name:</span>
        <span class="fs-4"> Bholabhai Patel Collage Of Computer Studies</span>
        <br /><br />
        <span class="fs-4 fw-bold"> Degree:</span>
        <span class="fs-4"> Bachlore Of Computer Application(BCA)</span>
        <br /><br />
        <span class="fs-4 fw-bold"> Location:</span>
        <span class="fs-4"> Gandhinagar,Gujarat</span> <br /><br />
        <span class="fs-4"> Persuing Semester VI....</span> <br />
      </div>
      <div class="col-md-6">
        <span class="fs-5"><span class="fw-bold">Percentage(CPI) : </span> 8.17 CPI (till
          Semester - V)
        </span>
        <br /><br />
      </div>
    </div>

    <div class="resumeitems row g-0 mb-5 p-5">
      <div class="col-md-6">
        <span class="fs-4 fw-bold"> Grade : </span>
        <span class="fs-4"> 12th(Commerce Stream)</span>
        <br />
        <span class="fs-4 fw-bold"> Board :</span>
        <span class="fs-4">H.S.C</span> <br /><br />
        <span class="fs-4 fw-bold"> School :</span>
        <span class="fs-4">Upasana Vidhyavihar</span> <br /><br />
        <!-- <span class="fs-4"> Persuing Semester VI....</span>  <br>  -->
      </div>
      <div class="col-md-6">
        <span class="fs-5"><span class="fw-bold">Percentage : </span> 56.14%
        </span>
        <br /><br />
      </div>
    </div>

    <div class="resumeitems row g-0 mb-5 p-5">
      <div class="col-md-6">
        <span class="fs-4 fw-bold"> Grade : </span>
        <span class="fs-4"> 10th(Commerce Stream)</span>
        <br />
        <span class="fs-4 fw-bold"> Board :</span>
        <span class="fs-4">S.S.C</span> <br /><br />
        <span class="fs-4 fw-bold"> School :</span>
        <span class="fs-4">Ankur Vidhyalay</span> <br /><br />
      </div>
      <div class="col-md-6">
        <span class="fs-5"><span class="fw-bold">Percentage : </span> 65.5%
        </span>
        <br /><br />
      </div>




    </div>
  </div>
</div>

{% endblock content %}